header > img {
  float: left;
  padding-right: 20px;
  vertical-align: middle;
}

header > span {
  font-family: "Roboto Slab", serif;
  font-size: 2.25em;
  vertical-align: text-top;
}

header {
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  background-color: #efede8;
}

body {
  background-image: url("./image/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
}

span {
  display: block;
  padding-bottom: 10px;
}

footer {
  text-align: right;
  padding-right: 10px;
  font-size: 0.7em;
}

#firstTimeUserLink {
  font-size: 1.3em;
}

.main-body {
  display: flex;
  flex-direction: row;
  opacity: 0.9;
  padding: 0px;
}

.row {
  margin-top: 100px;
}

.form-control {
}

label {
  float: left;
}

.body-text {
  border-radius: 7px;
  padding: 10px;
  font-size: 1.2em;
  font-family: "Times New Roman";
  background-color: #84a9a3;
}

.login-box {
  border-radius: 7px;
  padding: 10px;
  background-color: #ffffff;
  text-align: right;
}

#login-control-buttons {
  display: flex;
  justify-content: space-between;
}

#login-introduction {
  text-align: left;
}

#pagenote {
  font-weight: bold;
}

@media (min-width: 1000px) {
  .main-body {
    flex-direction: row;
  }
  .body-text {
    max-width: 50%;
  }
}

@media (min-width: 500px) and (max-width: 999px) {
  header {
    padding: 10px;
  }
  header > span {
    font-size: 1.1em;
  }
  .row {
    margin-top: 20px;
  }
  .main-body {
    flex-direction: row;
  }
  .body-text {
    font-size: 1.2em;
    max-width: 40%;
  }
}

@media (max-width: 499px) {
  header {
    padding: 10px;
  }
  header > span {
    font-size: 1.1em;
  }
  .row {
    margin-top: 10px;
  }
  .main-body {
    flex-direction: column;
  }
  .body-text {
    font-size: 1em;
  }
}
